---
import Navbar from "../components/Navbar.astro";
interface Props {
	mb: string;
	color: string;
	scolor:string;
	heroImage?: string;
	gaming: string;
	hommeOffice: string;
	streaming: string;
	dispositivos: string;
	descripcion: string;
}
const { mb, heroImage, color, gaming, hommeOffice, streaming, dispositivos, descripcion, scolor } =
	Astro.props;
import "@fontsource/titillium-web";
import "@fontsource/chakra-petch";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import EmpresarialButton from "../components/buttons/EmpresarialButton.astro";
import HomeButton from "../components/buttons/HomeButton.astro";
import TestimoniosButton from "../components/buttons/TestimoniosButton.astro";
import { TextEffect } from "../components/jsx/text-effect";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{mb}</title>
		<ViewTransitions/>
	</head>
	<body class="bg-gray-900 text-white">
		<section class="relative h-svh bg-cover bg-center" style={`background-image: url(${heroImage});`}>
			<div class="absolute inset-0 bg-black bg-opacity-30"></div>
			<Navbar/>

			<div class="relative z-10 flex flex-col items-center justify-start h-full pt-24 lg:pt-24">
				<main class="flex flex-col h-full  w-full p-4 px-8 ">
					<div
							class="h-full w-full flex flex-col items-center p-4 rounded-lg mb-4 shadow-inner shadow-white lg:flex-row lg:full lg:gap-10 lg:p-4 xl:p-48 lg:items-center bg-opacity-0 backdrop-blur-sm  justify-between" 
							style=`border: solid 2px ${color};`
							>
							<div class="flex flex-col w-full">
								<div
								class="w-full p-8 text-center rounded-lg border-white border-2 mt-5 chackra-petch"
								style=`background: linear-gradient(135deg, ${color}, ${scolor});`
								>
								<p class="mb text-3xl sm:text-3xl font-bold">100 Megas</p>
								</div>
								<TextEffect client:idle
									per="word"
									preset="fade"
									as="p"
									className="text-sm sm:text-lg mt-4 font-semibold text-center text-white"
									>
										{descripcion}
								</TextEffect>
								
	
								<div class="w-full lg:flex flex-row hidden ">
									<div class="flex flex-row gap-3 w-2/3 py-2 items-center">
										<img
											src="/wifi.svg"
											alt={`wifi icon`}
											class="icon w-6"
										/>
										<p>WIFI 2.4G Y 5G</p>
									</div>
	
									<div class="flex flex-row gap-3 w-2/3 py-2 items-center">
										<img
											src="/fibra.svg"
											alt={`fibra icon`}
											class="icon w-6"
										/>
										<p>Fibra Optica</p>
									</div>
								</div>
							</div>
							
							<div class="w-2/3 flex flex-col lg:hidden items-center mb-12">
								<div class="flex flex-row gap-3 w-2/3 py-2 mt-4 items-center">
									<img
										src="/wifi.svg"
										alt={`wifi icon`}
										class="icon w-6"
									/>
									<p>WIFI 2.4G Y 5G</p>
								</div>
	
								<div class="flex flex-row gap-3 w-2/3 py-2 items-center">
									<img
										src="/fibra.svg"
										alt={`fibra icon`}
										class="icon w-6"
									/>
									<p>Fibra Optica</p>
								</div>
							</div>
							
							<div class="w-full flex flex-col justify-center items-center lg:w-full mb-12">
								
									<h3 class="text-lg font-bold mb-2 text-cente text-center px-4 rounded-2xl shadow-md"
									style=`background: linear-gradient(135deg, ${color}, ${scolor});`>
										Recomendaciones
									</h3>
									<div class="flex flex-row w-full justify-between gap-12 font-medium">
										<ul class="w-full">
											<li class="inline-flex gap-2"><p class="font-bold">Dispositivos:</p> {dispositivos}</li>
											<li>Home office: {hommeOffice}</li>
										</ul>
									
										<ul >
											<li >Gaming: {gaming}</li>
											<li>Streaming: {streaming}</li>
										</ul>
									</div>
							
									
							</div>
							
							
						</div>
					<div class="flex flex-grow ">
						
					</div>
					<div>
						<div class="flex flex-row justify-center w-full md:w-2/3 lg:w-1/2 m-auto">
							<EmpresarialButton/>
							<HomeButton/>
							<TestimoniosButton/>
						</div>
					</div>
					
				</main>
			</div>

		</section>
	</body>
	<Footer />
</html>

<style>
	html{
		font-family: 'Titillium Web', 'Chakra Petch', sans-serif;
	}
	.chackra-petch{
		font-family:'Chakra Petch','Titillium Web', sans-serif ;
	}
</style>